<section class="wd-100">
    <section class="header">
        <div class="container ">
            <div class="routes-grid ">
              <div class="routes-grid "><button routerLink="/register">Register</button></div>
              <div class="routes-grid "><button routerLink="/login">Login</button></div>
              <div class="routes-grid "><button routerLink="/booking">Booking</button></div>
              <div class="routes-grid "><button routerLink="/schedules">Schedules</button></div>
              <div class="routes-grid "><button routerLink="/trains">Trains</button></div>
              <div class="routes-grid "><button routerLink="/stations">Stations</button></div>
            </div>
        </div>
    </section>
    <section class="details margins">
        <router-outlet></router-outlet>
    </section>
</section>



