<nav class="c-r">
    <ul class="margins">
        <li> <a class="margins" *ngIf="!getService.isLoginSuccessful" routerLink="/register" routerLinkActive="active" >Register</a></li>
        <li> <a class="margins" *ngIf="!getService.isLoginSuccessful" routerLink="/login" routerLinkActive="active">Login</a></li>
        <li> <a class="margins" *ngIf="getService.isLoginSuccessful && getService.user && getService.user.isCustomer" routerLink="/booking" routerLinkActive="active">Booking</a></li>
        <li> <a class="margins" *ngIf="getService.isLoginSuccessful && getService.user && getService.user.isAdmin" routerLink="/schedules" routerLinkActive="active">Schedules</a></li>
        <li> <a class="margins" *ngIf="getService.isLoginSuccessful && getService.user && getService.user.isAdmin" routerLink="/trains" routerLinkActive="active">Trains</a></li>
        <li> <a class="margins" *ngIf="getService.isLoginSuccessful " routerLink="/tickets" routerLinkActive="active">Tickets</a></li>
        <li> <a class="margins" *ngIf="getService.isLoginSuccessful && getService.user && getService.user.isAdmin" routerLink="/stations" routerLinkActive="active">Stations</a></li>
        <li> <a class="margins" *ngIf="getService.isLoginSuccessful" routerLink="" (click) ="logOut()">Log Out</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>






