<nav class="c-r">
    <ul class="margins">
        <li>  <a class="margins" routerLink="/register" routerLinkActive="active" >Register</a></li>
        <li>              <a class="margins" routerLink="/login" routerLinkActive="active">Login</a></li>
        <li>              <a class="margins" routerLink="/booking" routerLinkActive="active">Booking</a></li>
        <li>              <a class="margins" routerLink="/schedules" routerLinkActive="active">Schedules</a></li>
        <li>              <a class="margins" routerLink="/trains" routerLinkActive="active">Trains</a></li>
        <li>              <a class="margins" routerLink="/stations" routerLinkActive="active">Stations</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>






